*{
	padding:0;
	margin:0;
	border:0;
}

body{
	background:grey;
}


#container{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding:20px;
	
}

#container2{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding:20px;
	
}

#container3{
	
	width:40%;
	background:white;
	margin:0 auto;
	padding-right:40px;
	
}

#header{
	width:40%;
	background:yellow;
	margin:0 auto;
	padding:20px;
	font-weight:bold;
}

#ul{
	width:40%;
	background:yellow;
	margin:0 auto;
	padding-bottom:10px;
	padding-right:20px;
}

#box{
	width:%;
	height:400px;
	overflow:auto;
	overflow-x:hidden;
	
}

#data{
	width:%;
	padding:5px;
	margin-bottom:5px;
	border-bottom:1px solid yellow;
	font-weight:bold;
	overflow:auto;
	overflow-y:hidden;
}

.text1{
	width:100%;
	height:40px;
	border:1px solid white;
	border-radius:5px;
}

.text{
	width:%;
	height:40px;
	border:1px solid yellow;
	border-radius:5px;
}

.submit1{
	width:100%;
	height:40px;
	border:1px solid yellow;
	border-radius:5px;
	font-weight:bold;
}

.submit{
	width:50px;
	height:35px;
	border:1px solid white;
	border-radius:px;
	font-weight:;
	background: url(img1.png);
	background-repeat:no-repeat;
}

.btn-clear{padding: 15px 25px; font-size: 20px; font-weight: 300}
